<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">
    Quickly build an effective pricing table for your potential customers with
    this Bootstrap example. It’s built with default Bootstrap components and
    utilities with little customization.
  </p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">4</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Page</h1>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">0</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Not</h1>
        <p class="lead">
          La pagina si funciona, pero usted no tiene acceso OK? Bye!
        </p>
        <a type="button" class="btn btn-lg btn-block btn-primary" href="/">
          Regresar
        </a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">4</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Found</h1>
      </div>
    </div>
  </div>
</div>
