<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tareas - Tasks</title>
    <!-- BOOTSTRAP CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <!-- <a class="navbar-brand" href="/edit">Manejo de Tareas - CRUD Nodejs - Express y MongoDB</a> -->
      <h1 class="navbar-brand">
        Manejo de Tareas - CRUD NodeJs - Express y MongoDB
      </h1>
      <a class="btn btn-danger" href="/logout">Logout</a>
    </nav>
  </body>
</html>
